
@{
    ViewBag.Title = "Viaje";
}

<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mantenimiento de Viaje</h6>
            </div>
            <div class="card-body" id="pnl_busqueda">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tour</label>
                            <select id="bus_sel_tour" class="form-control sel_autocomplete" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Inicio</label>
                            <input id="bus_txt_fec_ini" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fin</label>
                            <input id="bus_txt_fec_fin" class="form-control" type="date">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button id="btn_buscar" class="btn btn-3-info btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-search"></i>
                            </span>
                            <span class="text">Buscar</span>
                        </button>
                        <button id="btn_nuevo" class="btn btn-3-default btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-file"></i>
                            </span>
                            <span class="text">Nuevo</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="panel pre-scrollable">
                <table id="tbl_viaje" class="table table-striped table-hover table-fcp">
                    <thead>
                        <tr>
                            <th style="display: none"></th>
                            <th style="width:90px;"></th>
                            <th>NOMBRE</th>
                            <th>FECHA</th>
                            <th>INICIO</th>
                            <th>FIN</th>
                            <th>PRECIO</th>
                            <th>DESCUENTO</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="lblTotalReg" class="footer-table-fcp"></div>
        </div>
    </div>
</div>
<!--***********************  VIAJE  **************************-->
<div class='modal modal-scroll fade' id='pnl_viaje' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class="modal-dialog modal-extend-fgp">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Registro de Viaje</h4>
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tour&nbsp;<strong class="text-danger">(*)</strong></label>
                            <select id="sel_tour" class="form-control sel_autocomplete" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Embarcación&nbsp;<strong class="text-danger">(*)</strong></label>
                            <select id="sel_embarcacion" class="form-control sel_autocomplete" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Piloto&nbsp;<strong class="text-danger">(*)</strong></label>
                            <select id="sel_piloto" class="form-control sel_autocomplete" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Copiloto&nbsp;<strong class="text-danger">(*)</strong></label>
                            <select id="sel_copiloto" class="form-control sel_autocomplete" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input id="txt_nombre" placeholder="Ingrese nombre" class="form-control" type="text" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Descripción</label>
                            <input id="txt_descripcion" placeholder="Ingrese descripción" class="form-control" type="text" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Observación</label>
                            <input id="txt_observacion" placeholder="Ingrese observación" class="form-control" type="text" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Precio</label>
                            <input id="txt_precio" disabled="disabled" class="form-control decimalFCP" type="text" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Precio real</label>
                            <input id="txt_precio_real" placeholder="Ingrese precio" class="form-control decimalFCP" type="text" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Descuento</label>
                            <input id="txt_descuento" placeholder="Ingrese descuento" class="form-control decimalFCP" type="text" maxlength="100" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Desde&nbsp;<strong class="text-danger">(*)</strong></label>
                            <input id="txt_fec_ini" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="col-md-3" id="div_fec_ini">
                        <div class="form-group">
                            <label>Hasta&nbsp;<strong class="text-danger">(*)</strong></label>
                            <input id="txt_fec_fin" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Hora inicio&nbsp;<strong class="text-danger">(*)</strong></label>
                            <input id="txt_hor_ini" class="form-control" type="time">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Hasta fin&nbsp;<strong class="text-danger">(*)</strong></label>
                            <input id="txt_hor_fin" class="form-control" type="time">
                        </div>
                    </div>
                    <div class="col-md-12"  id="bodyDias">
                        <div class="form-group">
                            <div class="card">
                                <div class="card-header">Días del tour</div>
                                <div class="card-body">
                                    <div>
                                        <h4>
                                            <input type='checkbox' class="val-input-dinamic" checked="checked" value='1'>
                                            <label class="form-check-label" for="exampleCheck1">Do</label>
                                            <input type='checkbox' class="val-input-dinamic" checked="checked" value='2'>
                                            <label class="form-check-label" for="exampleCheck1">Lu</label>
                                            <input type='checkbox' class="val-input-dinamic" checked="checked" value='3'>
                                            <label class="form-check-label" for="exampleCheck1">Ma</label>
                                            <input type='checkbox' class="val-input-dinamic" checked="checked" value='4'>
                                            <label class="form-check-label" for="exampleCheck1">Mi</label>
                                            <input type='checkbox' class="val-input-dinamic" checked="checked" value='5'>
                                            <label class="form-check-label" for="exampleCheck1">Ju</label>
                                            <input type='checkbox' class="val-input-dinamic" checked="checked" value='6'>
                                            <label class="form-check-label" for="exampleCheck1">Vi</label>
                                            <input type='checkbox' class="val-input-dinamic" checked="checked" value='7'>
                                            <label class="form-check-label" for="exampleCheck1">Sa</label>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="push"></div>
            </div>
            <div class="modal-footer">
                <button id="btn_guardar" type="button" class="btn btn-info btn-sm">&nbsp;Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.getScript("Content/js/general.js")
       .fail(function (jqxhr, settings, exception) {
           msg_OpenDay("e", "Error: No se ha cargando un complemento del sistema (general.js), porfavor actualize la pagina para poder cargar el complemento. " + exception);
           closeLoading();
       });
    $.getScript("Scripts/Mantenimiento/viaje.js")
        .fail(function (jqxhr, settings, exception) {
            msg_OpenDay("e", "Error: No se ha cargando un complemento del sistema (viaje.js), porfavor actualize la pagina para poder cargar el complemento. " + exception);
            closeLoading();
        });
</script>