@using ENTIDAD;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Title -->
    <title>Veleritos Perú::Pago</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/templatePage/img/core-img/favicon.png">
    <!-- Custom fonts for this template-->
    <link href="~/Content/templateSoft/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/css/stylePropio.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/templateSoft/css/sb-admin-2.css" rel="stylesheet">
</head>
<body>
    <div style="padding-left: 1.5rem;padding-right: 1.5rem;">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <p>&nbsp;</p>
                        <div class="sub-wrapper">
                            @{
                                var objTipo = Request.QueryString["vTipo"];

                                switch (EUtil.getDesencriptar(objTipo))
                                {
                                    case "cancelled":
                                    case "rejected":
                                        @:Lo setimos su pago no se realizó correctamente
                                        break;
                                    case "in_process":
                                       @:Lo setimos su pago no se realizó correctamente
                                        break;
                                    default:
                                        break;
                                }
                            }

                        </div>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/templatePage/js/jquery.min.js"></script>
</body>
</html>