@using ENTIDAD;
@using NEGOCIOS;
@using Gma.QrCodeNet.Encoding;
@using Gma.QrCodeNet.Encoding.Windows.Render;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.IO;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Title -->
    <title>Veleritos Perú::Pago</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/templatePage/img/core-img/favicon.png">
    <!-- Custom fonts for this template-->
    <link href="~/Content/templateSoft/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/css/stylePropio.css?v=<@DateTime.Now.ToString("yyyyMMddHHmm")>" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/templateSoft/css/sb-admin-2.css" rel="stylesheet">
</head>
<body>
    <div>
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="o-hidden border-0 my-4">
                    <div class="card-body p-0">
                        <div class="wrapper text-center" style="color: #27b546"><h3>¡Compra exitosa!</h3></div>
                        <div id="body-content">
                        </div>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/templateSoft/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/Tour/pago_exitoso.js"></script>
    <script src="~/Content/js/general.js"></script>
    <script src="~/Content/js/all/bootstrap.min.js"></script>
</body>
</html>