<div class="row">
    <div class="col-lg-12">
        <div class="row">
            @*<!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="text-center">
            <div class="row">
                @*<div class="col-md-3">
                    <div class="card text-white btn-3-primary mb-3" onclick="javascript:fc_sol_servicio(2)">
                        <div class="card-header card-header-fcp">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="card-body">
                            <span class="card-title"><strong>Vender</strong></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white btn-3-warning mb-3" onclick="javascript:fc_sol_servicio(3)">
                        <div class="card-header card-header-fcp">
                            <i class="fas fa-tags"></i>
                        </div>
                        <div class="card-body">
                            <span class="card-title"><strong>Copia Chapita</strong></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white btn-3-danger mb-3" onclick="javascript:fc_sol_servicio(4)">
                        <div class="card-header card-header-fcp">
                            <i class="fas fa-user-tag"></i>
                        </div>
                        <div class="card-body">
                            <span class="card-title"><strong>DNI y Chapita</strong></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white btn-3-primary mb-3" onclick="javascript:fc_sol_servicio(5)">
                        <div class="card-header card-header-fcp">
                            <i class="fas fa-user-tag"></i>
                        </div>
                        <div class="card-body">
                            <span class="card-title"><strong>Renovación DNI</strong></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white btn-3-success mb-3" onclick="javascript:fc_sol_servicio(6)">
                        <div class="card-header card-header-fcp">
                            <i class="far fa-images"></i>
                        </div>
                        <div class="card-body">
                            <span class="card-title"><strong>Cerfiticado<br>dueño<br>responsable</strong></span>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.addEventListener("load", function (event) {
        var URLdomain = window.location.origin;
        var pathname = window.location.pathname;
        if (pathname.includes("Home/Index"))
            history.pushState(null, "", URLdomain);
    });
</script>